h1 {
font-family: 'Helvetica';
color: white;
text-align: center;
}
.morning {
background-color: #19f205;
}
.afternoon {
background-color: #2c87c8;
}
.evening {
background-color: #c71c9d;
}
.night {
background-color: #180629;
}
